
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="../Content/Site.css" />
</head>
<body>
    <div> 
        @Html.Raw((string)ViewBag.Teams)
    </div>
</body>
</html>
