
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="../Content/Site.css" />
</head>
<body>
    <div> 
        <h2 align="center">MLS Standings</h2>
        @Html.Raw((string)ViewBag.Teams)
        <p align="center">
            Click <a href="https://matchcenter.mlssoccer.com/" target="_blank">here</a> to see MLS schedule
        </p>
        <p></p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/MLS_crest_logo_RGB_gradient.svg/1200px-MLS_crest_logo_RGB_gradient.svg.png" alt="MLS Logo" width="100" height="100" align="middle">
    </div>
</body>
</html>
